<div class="body-footer-margin"></div>
<footer id="footer">
  <div class="footer-all">
    <div class='footer-contents'>
      <div class='footer-details'>
        <h2 class='footer-content-head'>サイト情報</h2>
        <ul>
          <li><%= link_to '運営会社', page_path('coporation'), class: "footer-link" %></li>
          <li><%= link_to '利用規約', page_path('terms'), class: "footer-link" %></li>
          <li><%= link_to 'プライバシーポリシー', page_path('privacy'), class: "footer-link" %></li>
        </ul>
      </div>
      <div class='footer-details'>
        <h2 class='footer-content-head'>一覧を見る</h2>
        <ul>
          <li><%= link_to 'レビュ一覧', "#", class: "footer-link" %></li>
          <li><%= link_to 'スポット一覧', "#", class: "footer-link" %></li>
        </ul>
      </div>
      <div class='footer-details'>
        <h2 class='footer-content-head'>ご利用ガイド</h2>
        <ul>
          <li><%= link_to 'よくある質問', page_path('questions'), class: "footer-link" %></li>
          <li><%= link_to 'お問い合わせ', new_contact_path, class: "footer-link" %></li>
          <li><%= link_to 'お知らせ', informations_path, class: "footer-link" %></li>
        </ul>
      </div>
    </div>
    <div class="second-footer">
      <p class="copyright">Copyright © Potasupo All rights reserved.</p>
    </div>
  </div>
</footer>