<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to "PotaSupo", root_path, class: :logo %>
        <div id="menu" style="display: none;">
          <ul class='reason-lists'>
            <li><span class="fas fa-user-edit"></span><%= link_to "ユーザー登録", new_user_registration_path, class: :header_menu %></li>
            <li><span class="fas fa-sign-out-alt"></span><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :header_menu %></li>
            <li><span class="fas fa-star"></span><%= link_to "みんなのレビュー", tweets_path, class: :header_menu %></li>
            <li><span class="fas fa-search"></span><%= link_to '検索する', user_google_oauth2_omniauth_authorize_path, method: :post, class: :header_menu %></li>
            <li><span class="fas fa-sign-in-alt"></span><%= link_to '登録済みの方はこちら', new_user_session_path, class: :header_menu %></li>
            <li><span class="fas fa-map-marked-alt"></span><%= link_to 'スポット一覧', spots_path, class: :header_menu %></li>
          </ul>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="nav__right">
          こんにちは、
          <%= link_to "#{current_user.nickname}さん", user_path(current_user), class: :greeting__link%>
        </div>
      <% end %>
      <div class="nav__right">
        <ul class="hamburger-menu", id="open_menu">
          <li class="hamburger-menu-line line-top"></li>
          <li class="hamburger-menu-line line-middle"></li>
          <li class="hamburger-menu-line line-bottom"></li>
        </ul>
      </div>
    </div>
  </div>
</header>