<% breadcrumb :root %>
<%= render "swiper" %>
<main class="main">
  <div class="inner">
    <div class='select-reason-contents'>
      <h2 class='title'>
        ポタリングとは ?
      </h2>
      <p class="app-description">目的地を特に定めることなく気分や体調に合わせて周辺を自転車でめぐること</p>
      <div class="card__wrapper">
        <div class="description-card">
          <span class="far fa-comments fa-4x description-list"></span>
          <p class='reason-list-number'>リアルな口コミ</p>
          <p class="app-description">ユーザーたちの手によって利便性の高いサイトを作り上げていく事を基本方針としているため、業者などの存在は無し。よりリアルな口コミが集まります。</p>
        </div>
        <div class="description-card">
          <span class="fas fa-user-cog fa-4x description-list"></span>
          <p class='reason-list-number'>シンプルな機能</p>
          <p class="app-description">使いやすさを重視してシンプルなレイアウト。直感的な操作で詳しい説明書いらずの操作ができます。</p>
        </div>
        <div class="description-card">
          <span class="fas fa-bicycle fa-4x description-list"></span>
          <p class='reason-list-number'>前に進む</p>
          <p class="app-description">前に進むのは自転車だけではありません。ユーザーはもちろん、運営陣も前に進む向上心を持っています。より良いサービス提供を目指して。</p>
        </div>

      </div>
      <%= link_to users_guest_sign_in_path, method: :post, class: "gest-login-btn" do %>
        <span class="fas fa-power-off"> ゲストユーザーとしてお試しログイン</span>
      <% end %>
    </div>
    <h2 class="tweets-index-title">スポット一覧</h2>
    <div class="card__wrapper">
      <%= render partial: "spots/spot", collection: @spots %>
    </div>
    <div class=information-page>
      <div class="information-lists">
        <div class="information-list">
          <p class="information-hedding-p">お知らせ</p>
          <% unless @inforamations =nil %>
            <% @informations.each do |information| %>
              <%= information.created_at.strftime("%Y年%m月%d日") %>
              <%=link_to information.title,informations_path,class:"information-title" %><br>
            <% end %>
          <% else %>
            <p class="information-title">お知らせはありません</p>
          <% end %>
        </div>
      </div>
    <div>
  </div>
</main>

