<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ポタログ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/css/swiper.min.css">
  </head>

  <body>
    <div class="footerFixed">
      <header class="header">
        <div class="inner">
          <div class="nav">
            <div class="nav__left">
              <%= link_to "PotaSupo", root_path, class: :logo %>
              <div id="menu" style="display: none;">
                <ul class='reason-lists'>
                  <li><span class="fas fa-user-edit"></span><%= link_to "ユーザー登録", new_user_registration_path, class: :header_menu %></li>
                  <li><span class="fas fa-sign-out-alt"></span><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :header_menu %></li>
                  <li><span class="fas fa-star"></span><%= link_to "みんなのレビュー", tweets_path, class: :header_menu %></li>
                  <li><span class="fas fa-search"></span><%= link_to '検索する', user_google_oauth2_omniauth_authorize_path, method: :post, class: :header_menu %></li>
                  <li><span class="fas fa-sign-in-alt"></span><%= link_to '登録済みの方はこちら', new_user_session_path, method: :post, class: :header_menu %></li>
                </ul>
              </div>
            </div>
            <% if user_signed_in? %>
              <div class="nav__right">
                こんにちは、
                <%= link_to "#{current_user.nickname}さん", user_path(current_user), class: :greeting__link%>
              </div>
            <% end %>
            <div class="nav__right">
              <ul class="hamburger-menu", id="open_menu">
                <li class="hamburger-menu-line line-top"></li>
                <li class="hamburger-menu-line line-middle"></li>
                <li class="hamburger-menu-line line-bottom"></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <%= breadcrumbs separator: " &rsaquo; " %>
      <%= yield %>
      <div id="page_top"><a class="fas fa-angle-up",href="#"></a></div>
      <div class="push"></div>
      <footer id="footer">
        <div class="footer-all">
          <div class='footer-contents'>
            <div class='footer-details'>
              <h2 class='footer-content-head'>サイト情報</h2>
              <ul>
                <li><%= link_to '運営会社', page_path('coporation'), class: "footer-link" %></li>
                <li><%= link_to '利用規約', page_path('terms'), class: "footer-link" %></li>
                <li><%= link_to 'プライバシーポリシー', page_path('privacy'), class: "footer-link" %></li>
              </ul>
            </div>
            <div class='footer-details'>
              <h2 class='footer-content-head'>一覧を見る</h2>
              <ul>
                <li><%= link_to 'レビュ一覧', "#", class: "footer-link" %></li>
                <li><%= link_to 'スポット一覧', "#", class: "footer-link" %></li>
              </ul>
            </div>
            <div class='footer-details'>
              <h2 class='footer-content-head'>ご利用ガイド</h2>
              <ul>
                <li><%= link_to 'よくある質問', page_path('questions'), class: "footer-link" %></li>
                <li><%= link_to 'お問い合わせ', new_contact_path, class: "footer-link" %></li>
                <li><%= link_to 'お知らせ', informations_path, class: "footer-link" %></li>
              </ul>
            </div>
          </div>
          <div class="second-footer">
            <p class="copyright">Copyright © Potasupo All rights reserved.</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>