<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ポタログ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/css/swiper.min.css">
  </head>

  <body>
    <div class="wrapper">
      <%= render 'shared/header' %>
      <%= render 'shared/flash_message' %>
      <%= breadcrumbs separator: " &rsaquo; " %>
      <%= yield %>
      <div id="page_top"><a class="fas fa-angle-up",href="#"></a></div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>